<div class="well">
    <form class="form-horizontal" ng-submit="printInput()" name="playlistForm">
        <fieldset>
            <legend>New Playlist</legend>
            <div class="form-group">
                <div class="alert alert-warning" ng-show="playlistForm.$dirty && playlistForm.$invalid">Please enter a valid title</div>
                <label class="col-xs-2 control-label">Title</label>
                <div class="col-xs-10">
                    <input name="playlistInput" class="form-control" ng-required="true" ng-maxlength="16" ng-model="playlist.name" type="text">
                </div>
            </div>

            <div class="form-group" >
                <div class="col-xs-10 col-xs-offset-2">
                    <button type="submit" class="btn btn-success">Create Playlist</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>